.button {
    background-color: white;
    margin-bottom: 30px;
    border-color: lightgray;
}
.audio {
    margin-top: 20px;
    margin-bottom: -22px;
    border-color: transparent;
    
}
.nobull {
    list-style-type: none;
}
.merge, .recordAudio{
    border-radius: 15px;
    margin: 0 auto;
    border-color: black;
    background-color: rgb(63, 184, 224);
    width: 325px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    padding-bottom: 5px;
    
}
.recordAudio {
    background-color: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
}
.recordButtons, .deleteButton, .editButton, .loginButton {
    width: 145px;
    margin: auto;
    margin-top: 5px;
    background-color: orange;
    border-radius: 19%;
    height: 33px;
    font-weight: bold;
    color: white;
    margin-bottom: 0;
}
.inp {
    width: 30%;
    margin: auto;
    margin-bottom: 10px;
    height: 30px;
    font-size: 18px;
    border-radius: 10px;

}
hr{
    color: purple;
    height: 4px;
    width: 60%;
    margin: auto;
    background-color: purple;
}
.indicator {
    color: rgb(216, 22, 206)
}
::placeholder {
    color: red;
    font-weight: bold;
    margin: auto;
}
.warner {
    font-weight: bold;
    margin: initial;
    text-align: left;
    margin-left: 35%;
    margin-bottom: 20px;
    font-size: 13px;
    color: rgb(96, 10, 161);
}
.deleteButton {
    background-color: red;
}
.editButton {
    background-color: green;
}
.inpLogin {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 8px;
}
.header {
    width: 400px;
    margin: auto;
    margin-bottom: 50px;
    color:  lightseagreen;
}
.loginButton {
    margin-bottom: 50px;
    background-color: green;
}